@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, Dear Friend</h1>
Welcome to this application.
<p>
    It is a Simple Address Book Application.
    I used ef core and blazor server in this application and it was very fun.
</p>

<h3>Objectives</h3>
<p>
    The goal of this task is to measure the technical skills of the candidates, as well as their abilities to
    communicate about their work and show their creativity. The task is to create a very simple personal
    address book to fulfill the listed user stories in the next sections. The candidate is free to make decision
    about everything which is not explicitly stated in this document. This document specifies the Technology
    stack, user stories, deliverables and duration of the project.
</p>

<ul>
    <h3> Technology requirements</h3>
    <li> .NET 6 or higher using C# programming language</li>
    <li> Blazor Server as framework – use Blazor for Front-End</li>
    <li> Data persisted in SQlite using efcore</li>
</ul>

<h3>User Stories</h3>
<p>
    1. Show a list of entries in address book
    As a User
    I want to see a list of all entries in the address book
    So that I can search and find a person I’m looking for
</p>
<p>
    2. Add new entry to address book
    As a User
    I want to be able to create new entries in my address book
    So that I can later find the home address, phone number and E-Mail of my contacts
</p>
<p>
    3. Modify an entry in the address book
    As a User
    I want to be able to modify the entries in the address book
    So that I can update home address, phone number an e-mail of my contacts
</p>
<p >
    4. Delete an entry in the address book
    As a User
    I want to be able to delete the entries from the address book
    So that I clean up the information I do not need anymore
</p>